@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
    /* bg */
    --color-bg-light: #f5f6f8;
    --color-bg-footer: #0f1523;
    --color-bg-primary-fixed: #dce1ff;
    --color-bg-tertiary-fixed: #bae6fd;
    --color-bg-error-container: #ffdad6;
    /* btn, icons, hovers */
    --color-btn-primary: #0051ff;
    /* Title subtitle */
    --color-text-primary: #0f172a;
    /* Text */
    --color-text-secondary: #475569;
    --color-text-tertiary: #0e73ff;
    --color-text-error: #ef4444;
    /* text footer */
    --color-text-footer-primary: #94a3b8;
    --color-text-footer-secondary: #64748b;    
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}